* {
    padding: 0;
    margin: 0;
}

body {
    background: #8888df;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid #d9df88 20px;
}

div.hand {
    position: absolute;
    /* width: 50%; */
    bottom: 50%;
    left: 50%;
    margin-left: -5px;
    border-width: 0px 5px;
    border-color: black;
    border-style: solid;
    transform-origin: bottom center;
    transition: all 0.2s;
    border-radius: 50px;
}

div.hour {
    transform: rotate(0deg);
    height: 30%;
}

div.minute {
    transform: rotate(0deg);
    height: 40%;
}

div.second {
    transform: rotate(0deg);
    border-color: red;
    height: 47%;
}